<div id="Conteudo">
    <div id="c-Principal">
        <div id="cp-Menu">
            <div id="cpm-CharImage">
                <img src="" alt="CharImage">
            </div>
            <div id="cpm-Nome">
                <p>Sovek Raccon</p>
            </div>
            <div id="cpm-Opcoes">
                <input type="button" value="Status">
                <input type="button" value="Relacionamentos">
                <input type="button" value="Algo">
            </div>
        </div>
        <div id="cp-Historia">
            <div id="cph-Texto">
                <p>
                    Unravel the mysterious past of your parents and homeland 
                    while journeying through four unique lands! As you travel, 
                    you may discover friendship, love, or things better left 
                    unknown...But whatever you decide, you will change the 
                    world forever, or understand what it means to truly be 
                    too different.
                    Too Different is a 200,000 word interactive science-fantasy 
                    novel by Andrew Kenneth Specter, where your choices control 
                    the story. It's entirely text-based—without graphics or sound
                    effects—and fueled by the vast, unstoppable power of your 
                    imagination.
                </p>
            </div>
            <div id="cph-Escolhas">
                <!--
                    Colocar ngFor para gerar as escolhas
                -->
                <input type="radio" name="Escolha" id="cphe-1">
                <label for="cphe-1">Escolha 1</label>
                <input type="radio" name="Escolha" id="cphe-2">
                <label for="cphe-2">Escolha 2</label>
                <input type="radio" name="Escolha" id="cphe-3">
                <label for="cphe-3">Escolha 3</label>
                <input type="radio" name="Escolha" id="cphe-4">
                <label for="cphe-4">Escolha 4</label>
            </div>
        </div>
    </div>
</div>